---
import Layout from "../layouts/Layout.astro";
---

<Layout title="付款連結">
  <p>重新導向連結中...</p>
</Layout>
<script>
  setTimeout(() => {
    window.location.href = "https://cart.cashier.ecpay.com.tw/qp/z8N4";
  }, 100);
</script>