---
import Layout from "../layouts/Layout.astro";
---

<Layout title="租棚須知">
  <main class="py-8">
    <div class="container">
      <h2 class="mb-4">注意事項</h2>
      <ul class="list-disc pl-6 mb-4">
        <li>
          入場時小幫手會說明注意事項，<strong>「租棚時間」結束前 10 分鐘會提醒，前 5 分鐘與小幫手進行點交。</strong>
        </li>
        <li>
          提供緩衝時間<strong>前後各 15 分鐘</strong>（如：租棚時間 15:00~17:00，則 14:45 可入場整裝、17:15
          前需離場），超時須現場加收 450 元超時費，並須即刻離場。
        </li>
        <li>若要續時，請提前詢問後面是否已有預約。</li>
        <li>
          進入棚內請穿拖鞋，若有道具鞋請以<strong>保護膜黏貼於鞋底</strong>（入口處鞋架有提供），榻榻米嚴禁穿鞋及赤腳。
        </li>
        <li>為維護雙方權益，<strong>棚景內設有監視器</strong>，梳化間及廁所除外，請安心使用。</li>
        <li>場地最大尺度僅接受「三點不露」為原則。</li>
        <li>場景擺設、道具若有移動，請於歸還場地時復原。</li>
        <li>場地免費提供矮梯，請勿站立於桌椅、吧台上。</li>
        <li>場地內全面禁止明火。</li>
        <li>各棚景注意事項請參考<a href="/scenes" class="underline text-primary-light">棚景介紹</a></li>
      </ul>

      <h2 class="mb-4 mt-8">損害賠償</h2>
      <ul class="list-disc pl-6 mb-4">
        <li>
          <strong>嚴禁使用血漿、色素、顏料、泡泡水、油、醬料等，任何會造成清洗困難的材料</strong
          >，若使用需立即支付場地清潔費 2000 元，若有嚴重污染則照實際清潔費用賠償。
        </li>
        <li>攝影棚全區、門口皆禁菸。</li>
        <li>
          <strong>除梳化間外禁止飲食</strong>（大正喫茶店棚景除外），若於場景內飲食需立即收取場地清潔費 2000
          元。若於梳化間飲食，廚餘請自行帶走。
        </li>
        <li>
          大正喫茶店棚景，若需攜帶食物（限甜點類）用於拍攝請提前告知，並於拍攝結束後恢復場地，場內僅供拍照和為了拍照而吃一點，真的要吃光請到梳化間，若有潑灑汙染將酌收場地清潔費。
        </li>
        <li>現場有許多老物件及易碎物，請務必一同愛惜溫柔對待，若損害需照價賠償。</li>
      </ul>
    </div>
  </main>
</Layout>
