---
import Layout from "../layouts/Layout.astro";
import ImageSwiper from "../components/ImageSwiper.astro";
---

<Layout title="棚景介紹">
  <div class="mb-8 px-4" slot="subtitle">
    縱使生於幽谷峭壁，亦要綻放一身大正摩登的傲骨；<br />來到野蘭，微醺在和洋交織的夢境裡，兀自浪漫地呼吸。
  </div>
  <main class="py-8">
    <div class="container">
      <div class="mb-6">
        <h2 class="mb-6">✿ 棚內設備 ✿</h2>
        <div class="grid md:grid-cols-2 mb-6 gap-6">
          <div>
            <h3 class="mb-4">免費使用</h3>
            <ul class="list-disc pl-6 mb-4">
              <li>Yongnuo YNRAY200 單溫 x1</li>
              <li>Yongnuo YNLUX100 PRO x1</li>
              <li>Yongnuo YN6C-360IV 燈棒 x1</li>
              <li>60cm 八角柔光罩 x1</li>
              <li>90cm 八角柔光罩 x1</li>
              <li>120cm 柔光傘 x1</li>
              <li>200cm 輕便型燈腳 x2</li>
              <li>300cm C-Stand+斜臂 x1</li>
            </ul>
          </div>
          <div>
            <h3 class="mb-4">付費使用</h3>
            <ul class="list-disc pl-6 mb-4">
              <li>Amaran 200xS x1 ── 500 元／次</li>
              <li>Godox BLP LED 投影筒 x1 ── 200 元／次</li>
            </ul>
          </div>
        </div>
      </div>
      <hr />
      <div class="mb-6">
        <h2 class="mb-6">𖠁 大正喫茶店 𖠁</h2>
        <div class="grid md:grid-cols-2 mb-6 gap-6">
          <ImageSwiper dir="tea-shop" />
          <div>
            <p>
              久違的休息日，推開沉穩木門，轉身在玄關掛起大衣與禮帽。空氣中微帶苦澀的咖啡香沁入鼻腔，唱盤旋轉出爵士樂的慵懶節奏。
            </p>
            <p>
              ​陽光穿透華麗的玻璃花窗，映照在剛上桌的冰淇淋蘇打上。女學生們為了那夢幻晶瑩的水藍驚呼連連；另一角，文人雅士啜飲黑咖啡、激辯著新思潮，熱蛋糕上的奶油在談笑間悄悄融化。
            </p>
            <p>時髦的甜品、新奇的口味，在​這方喫茶空間裡引領著摩登新日常。</p>
          </div>
        </div>
        <p>⊱✿⊰</p>
        <h3 class="mt-4 mb-3">✧ 場景道具 ✧</h3>
        <p>推車、仿真甜點及飲品、底片相機、冰淇淋模型、帽子、圍巾、可滑動假牆</p>
        <h3 class="mt-4 mb-3">✧ 注意事項 ✧</h3>
        <p>
          此場景若需要拍攝自備甜品，請提前告知（僅用於喫茶店區拍攝，不可攜帶至其他區域，真的要吃掉請到梳化間），並於結束時清理恢復原狀，否則視情況酌收清潔費。
        </p>
      </div>
      <hr />
      <div class="mb-6">
        <h2 class="mb-6">𖠁 私人洋裁室 𖠁</h2>
        <div class="grid md:grid-cols-2 mb-6 gap-6">
          <ImageSwiper dir="sewing-room" />
          <div>
            午後的斜陽滲透蕾絲，在鐵黑色的縫紉機身上輕盈地灑下。布料推進時的輕微摩擦、老踏板規律的軋軋聲，在針線交錯間呼吸，細細編織著和洋交融的溫柔。
          </div>
        </div>
        <p>⊱✿⊰</p>
        <h3 class="mt-4 mb-3">✧ 場景道具 ✧</h3>
        <p>長尺、帽子、手套、畫框、仿真書、布料、手提箱</p>
        <h3 class="mt-4 mb-3">✧ 注意事項 ✧</h3>
        <p>裁縫車已將針及皮帶卸下，使用時仍請注意安全</p>
      </div>
      <hr />
      <div class="mb-6">
        <h2 class="mb-6">𖠁 榻榻米生活區 𖠁</h2>
        <div class="grid md:grid-cols-2 mb-6 gap-6">
          <ImageSwiper dir="tatami" />
          <div>
            一日結束前，沉浸於無人打擾的世界，翻翻未讀完的書、撥弄幾下三味線、打牌下棋與自己對弈，累了就隨性往榻榻米上一躺，閉上眼，深吸一口沉靜的藺草香，度過專注而又閒散的時光。
          </div>
        </div>
        <p>⊱✿⊰</p>
        <h3 class="mt-4 mb-3">✧ 場景道具 ✧</h3>
        <p>三味線、扇子、底片機、面具、圍棋、古本、鏡子、百人一首歌牌</p>
        <h3 class="mt-4 mb-3">✧ 注意事項 ✧</h3>
        <p>禁止「穿鞋」、「赤腳」上榻榻米</p>
      </div>
    </div>
  </main>
</Layout>
