---
interface Props {
  as?: string;
  ulClass?: string;
}
const { as: Tag = "h3", ulClass = "list-disc pl-6 mb-2" } = Astro.props;
---

<Tag class="mb-4 mt-8">注意事項</Tag>
<ul class={ulClass}>
  <li>本棚開放拍攝日<strong> 90 天至一週前預約</strong>（例如：4/1 拍攝日，可於 1/1-3/24 之間預約）。</li>
  <li>
    請於預定後一日內支付訂金 1000 元，<strong>取消、改期請於一週前私訊告知，否則不予退費</strong>（例如：4/1
    拍攝日，最晚請於 3/24 營業時間內告知）。
  </li>
  <li>當日遲到、早退、缺席不予退費。</li>
  <li>若遇不可抗力因素（如颱風、地震）且政府公告放假，可改期或全額退訂金。</li>
  <slot />
</ul>
