---
interface Props {
  as?: string;
}
const { as: Tag = "h3" } = Astro.props;
---

<Tag class="mb-4 mt-8">入場人員</Tag>
<ul class="list-disc pl-6 mb-2">
  <li>入場人員<strong>總共最多 6 位，其中至多 3 位攝影師</strong>（手機不在此限）。</li>
  <li>若有增加人數，每人需酌收 200 元 / 小時，攝影師需酌收 300 元 / 小時 ，增加後總人數最多 10 人。</li>
  <li>若純拍娃、bjd 可全員攝影，若經發現有拍攝真人模特則即刻加收攝影師總時數人頭費。</li>
  <li>若有 12 歲以下孩童請提前告知。</li>
  <li>目前暫不開放寵物入場。</li>
</ul>
