---
import { plans } from "../data/plans";

const currentPath = Astro.url.pathname;
const isActive = (slug: string) =>
  currentPath === `/plans/${slug}` || currentPath === `/plans/${slug}/`;
---

<nav class="border-b border-[#fff3]">
  <ul class="flex flex-wrap gap-x-4 md:gap-x-6 gap-y-2 justify-center px-4 pt-4 pb-3 font-semibold whitespace-nowrap">
    {
      plans.map((plan) => (
        <li>
          <a
            href={`/plans/${plan.slug}`}
            class={`pb-1 border-b-2 border-transparent hover:border-amber-100 hover:!opacity-100 transition ${isActive(plan.slug) ? "!border-amber-50" : ""}`}>
            {plan.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
